.form{
  width: 300px;
  float: right;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../static/images/1.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.logbutton{
  padding: 16px 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

/* 悬停 */
.logbutton:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
